{$DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000"
		Referrer-Policy "no-referrer"
		X-Content-Type-Options "nosniff"
		Cross-Origin-Opener-Policy "same-origin"
		Permissions-Policy "camera=(self), microphone=(self), display-capture=()"
		Content-Security-Policy "default-src 'self'; img-src 'self' blob: data:; media-src 'self' blob:; connect-src 'self' wss://{$DOMAIN}; script-src 'self'; style-src 'self'; font-src 'self'; worker-src 'self' blob:; frame-ancestors 'none'; base-uri 'none'; form-action 'self'"
	}

	import app-routes.caddy
}
